
body, ul, li, h1, h2, a {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color: #f4f4f4;
    width: 100%;
    height: 60px;
    padding: 20px;
    position: fixed;
    z-index: 1;
}
nav ul li.header{
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-right: 8%;
}
nav ul {
    text-align: center;
    white-space: nowrap;

}
nav li {
    width: 11%;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: grey;

}
.nav li .icons{
    
    width: 30px;
    position: relative;
    top: 10px;
    margin-right: 10px; 
}
nav li a{
    color:#746a67;
    font-stretch: expanded;
    text-decoration: none;
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
    
}
.dropbtn {
    color:#746a67;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {      
    position: relative;
    display: inline-block;
    
    
  }
  
  .dropdown-content {
       text-align: left;
    padding-bottom: 20px;
    /* padding-left: 30px; */
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    
    color: #746a67 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
.dropdown-content a:hover {background-color: #ddd;padding-bottom: 10px;}

.dropdown:hover .dropdown-content {display: block;}
.gallery{
    padding-top: 50px;
width: 100%;
position: relative;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}
.phone{
    width: 100%;

}

.midscreen{
    background-color:  #eeeeee;

}
.midlist{
    text-align: center;
    list-style-type: none;
    white-space: nowrap;
    padding:120px 0px

}
.midlist .half {
    
    display: inline-block;
    width: 30%;
    margin: 20px ;
}
.midlist .second-part{   
    text-align: left;
}
.imageli{
    padding-right:0 ;
}
.midlist .second-part .icons{   
    width: 30px;
    position: relative;
    top: 10px;
    margin-right: 10px; 
}
.imageli :hover {
    position: relative;
    top: -4px;
    width: 102%;
}
.banner ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
.banner {
    width: 25%;
    display: inline-block;
}
.shade{
    background: rgba(0,0,0,0.5);
    padding: 5px;
    
}
ul#banner1 li {
    text-align: center;
    display:inline-block;
    width: 60%;
    margin-left: 30%;
  }
  .banner-body{
      color: white;
      padding-top: 60px;
      background-color: #20afa5;
      padding-bottom: 60px;
      margin-bottom: 60px;
  }
  .banner-image{
      width:140px;
  }
  ul#banner0 li {
    text-align: center;
    font-size: 20px;
    display:inline-block;
    width: 60%;
    margin-left: 30%;
  }
  ul#banner3 li {
     color: white;
    text-align: center;
    display:inline-block;
    width: 60%;
    margin-left: 30%;
  }